.wrapper { /*전체화면 설정*/
    width: 100%;
    max-width: 480px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.maintext{ /*maintext div 설정*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #ddd;
} 

#headtext{ /* headtext 마이페이지 설정  */
    font-family: "Jua", serif;
    text-align: center;
}

#report{ /* 회원정보 텍스트 설정 */
    font-family: "Jua", serif;
    align-items: center;
    text-align: left;
    margin-left: 30px;
}

.userprofile{
    margin-left: 30px;
}

#changbutton{
    all: unset;
    cursor: pointer;
}

#uploadButton{
    all: unset;
    cursor: pointer;
    margin-top: -10px;
}
#input{
    display: none;
}

#user{ /*user 정보 font 설정 */
    font-family: "Jua", serif;
    /* float: left; */
    margin-left: 30px;
}

#outbutton{
    float: right;
    margin-right: 50px;
}

#crystal{
    float: right;
    margin-right: 17px;
}

.dropout{
    font-family: "Jua", serif;
    margin-left: 30px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 12px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 480px;
    }

footer a {
    text-decoration: none;
    color: #4CAF50;
    font-size: 0.875rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a svg {
    margin-bottom: 4px;
}


