body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #F4F4F4;
}

.wrapper {
    width: 100%;
    max-width: 480px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 0 auto;
}

/* 헤더 스타일 */
header {
    background-color: #68b468;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}


header h2 {
    color: #a1d9a9;
}


/* 카드 컴포넌트 */
.card {
    background-color: #E6F6DD;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#h2 {
    color: #639E6C;
    margin-top: 5px; /* 아래로 20px 여백 추가 */
}

.summary {
    padding: 16px;
    border-bottom: 1px solid #ddd;
}

.summary h2 {
    margin-bottom: 16px;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
}

.summary .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.summary .info .card {
    background-color: #E6F6DD;
    padding: 16px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.summary .info .card p {
    margin: 0;
    font-size: 1rem;
    color: #639E6C;
}

.summary .info .card strong {
    display: block;
    margin-top: 8px;
    font-size: 1.25rem;
    color: #639E6C;
}

.edit-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    fill: #4CAF50;
}

.graph-widget h2 {
    text-align: center; 
    color: #639E6C; 
}

.todo-widget {
    padding: 16px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 75px;
}
.todo-widget h3 {
    margin-bottom: 8px;
    font-size: 1.25rem;
    color: #639E6C;
}
.todo-widget p {
    margin: 0;
    font-size: 1rem;
    color: #639E6C;
}
.todo-widget .empty {
    color: #aaa;
    font-style: italic;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 12px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 480px;
}

footer a {
    text-decoration: none;
    color: #4CAF50;
    font-size: 0.875rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a svg {
    margin-bottom: 4px;
}

.container{
    /* display:flex; */
    height:100vh;
}
