body{
   font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}

.wrapper {
    width: 100%;
    max-width: 480px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 0 auto;
}


/* 헤더 스타일 */
header {
    font-family: "Oswald", serif;
    background-color: #68b468;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.mainscren {
    padding: 20px;
}

.userdata{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}

.userdata h2 {
    font-family: "Do Hyeon", serif;
    text-align: left;
    color: #68b168;
    font-size: 18px;
}

.userdata text {
    font-size: 14px;
    margin-left: 10px;
}

#outbutton {
    float: right;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    color: #333;
}
  
#outbutton a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 버튼 색상과 동일하게 설정 */
}
  
#outbutton:hover {
    background-color: #f9f9f9;
}
  

.userprofile {
    position: relative;
    text-align: left; /* 왼쪽 정렬 */
    margin-left: 20px; /* 왼쪽 여백 추가 */
}

.userprofile img {
    border-radius: 50%;
    border: 2px solid #ddd;
}

#changbutton {
    background: none;
    border: none;
    margin-left: -20px;
}

.dropout{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    
}

.dropout a{
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 버튼 색상과 동일하게 설정 */
}

#inbodyupload1 {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: "Do Hyeon", serif;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
#inbodyupload2 {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    font-family: "Do Hyeon", serif;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
  display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 12px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 480px;

}

footer a {
    text-align: center; 
    display: flex; 
    text-decoration: none;
    color: #4caf50;
    font-size: 0.875rem;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
 
